tips/src/mngagent/net_guard_final.without_modify_Get_time/ssl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="ssl"
 targetNamespace="urn:ssl"
 xmlns:tns="urn:ssl"
 xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
 xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:xop="http://www.w3.org/2004/08/xop/include"
 xmlns:xmime5="http://www.w3.org/2005/05/xmlmime"
 xmlns:x="http://127.0.0.1/m.xsd"
 xmlns:ns="urn:ssl"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap12/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://127.0.0.1/m.xsd"
  xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
  xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xop="http://www.w3.org/2004/08/xop/include"
  xmlns:xmime5="http://www.w3.org/2005/05/xmlmime"
  xmlns:x="http://127.0.0.1/m.xsd"
  xmlns:ns="urn:ssl"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2003/05/soap-envelope"/>
  <import namespace="http://www.w3.org/2003/05/soap-encoding"/>
  <import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://www.w3.org/2004/08/xop/include"/>
  <import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime"/>
  <import namespace="urn:ssl"/>

  <complexType name="MsgList"><!-- ns__MsgList -->

   <sequence>
    <element name="item" type="ns:MsgItem" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="ResultList"><!-- ns__ResultList -->

   <sequence>
    <element name="item" type="ns:ResultItem" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="Data">
   <annotation>
    <documentation>holds a MIME attachment</documentation>
   </annotation>
   <sequence>
     <element ref="xop:Include" minOccurs="1" maxOccurs="1"/><!-- x__Data::xop__Include -->
   </sequence>
     <attribute ref="xmime5:contentType" use="optional"/>
  </complexType>
  <complexType name="DataSet">
   <annotation>
    <documentation>holds a set of MIME attachments</documentation>
   </annotation>
   <sequence>
     <element name="item" type="x:Data" minOccurs="0" maxOccurs="unbounded"/><!-- x__DataSet::__size -->
   </sequence>
  </complexType>
  <complexType name="Keys">
   <annotation>
    <documentation>holds a set of strings to access the data collection at the server side</documentation>
   </annotation>
   <sequence>
     <element name="key" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true"/><!-- x__Keys::__size -->
   </sequence>
  </complexType>
  <element name="data" type="x:DataSet"/>
  <element name="keys" type="x:Keys"/>
 </schema>

 <schema targetNamespace="urn:ssl"
  xmlns:SOAP-ENV="http://www.w3.org/2003/05/soap-envelope"
  xmlns:SOAP-ENC="http://www.w3.org/2003/05/soap-encoding"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xop="http://www.w3.org/2004/08/xop/include"
  xmlns:xmime5="http://www.w3.org/2005/05/xmlmime"
  xmlns:x="http://127.0.0.1/m.xsd"
  xmlns:ns="urn:ssl"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://www.w3.org/2003/05/soap-envelope"/>
  <import namespace="http://www.w3.org/2003/05/soap-encoding"/>
  <import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="http://www.w3.org/2004/08/xop/include"/>
  <import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="http://www.w3.org/2005/05/xmlmime"/>
  <import namespace="http://127.0.0.1/m.xsd"/>

  <complexType name="MsgItem"><!-- ns__MsgItem -->

   <sequence>
     <element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__MsgItem::type -->
     <element name="msg" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__MsgItem::msg -->
   </sequence>
  </complexType>
  <complexType name="MsgList"><!-- ns__MsgList -->

   <sequence>
    <element name="item" type="ns:MsgItem" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
   </sequence>
  </complexType>
  <complexType name="ResultItem"><!-- ns__ResultItem -->

   <sequence>
     <element name="TimeStamp" type="xsd:unsignedLong" minOccurs="1" maxOccurs="1"/><!-- ns__ResultItem::TimeStamp -->
     <element name="Order" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__ResultItem::Order -->
     <element name="Param" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns__ResultItem::Param -->
   </sequence>
  </complexType>
  <complexType name="ResultList"><!-- ns__ResultList -->

   <sequence>
    <element name="item" type="ns:ResultItem" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
   </sequence>
  </complexType>
 </schema>

</types>

<message name="upload-messageRequest">
 <part name="Device-ID" type="xsd:string"/><!-- ns__upload_message::Device_ID -->
 <part name="returntype" type="xsd:int"/><!-- ns__upload_message::returntype -->
 <part name="state" type="ns:MsgList"/><!-- ns__upload_message::state -->
 <part name="authstr" type="xsd:string"/><!-- ns__upload_message::authstr -->
</message>

<message name="upload-messageResponse">
 <part name="result" type="ns:ResultList"/><!-- ns__upload_message::result -->
</message>

<message name="PutDataRequest">
 <part name="data" type="x:DataSet"/><!-- ns__PutData::x__data -->
 <part name="keys" type="x:Keys"/><!-- ns__PutData::x__keys -->
 <part name="device-id" type="xsd:string"/><!-- ns__PutData::device_id -->
 <part name="authstr" type="xsd:string"/><!-- ns__PutData::authstr -->
 <part name="attachments" type="xsd:base64Binary"/>
</message>

<message name="PutDataResponse">
 <part name="response" type="xsd:int"/><!-- ns__PutData::response -->
 <part name="attachments" type="xsd:base64Binary"/>
</message>

<message name="GetData">
 <part name="keys" type="x:Keys"/><!-- ns__GetData::x__keys -->
 <part name="device-id" type="xsd:string"/><!-- ns__GetData::device_id -->
 <part name="authstr" type="xsd:string"/><!-- ns__GetData::authstr -->
 <part name="attachments" type="xsd:base64Binary"/>
</message>

<message name="GetDataResponse">
 <part name="data" type="x:DataSet"/><!-- ns__GetData::x__data -->
 <part name="attachments" type="xsd:base64Binary"/>
</message>

<portType name="sslPortType">
 <operation name="upload-message">
  <documentation>Service definition of function ns__upload_message</documentation>
  <input message="tns:upload-messageRequest"/>
  <output message="tns:upload-messageResponse"/>
 </operation>
 <operation name="PutData">
  <documentation>stores a data set at the server side and returns a set of unique keys to access that data</documentation>
  <input message="tns:PutDataRequest"/>
  <output message="tns:PutDataResponse"/>
 </operation>
 <operation name="GetData">
  <documentation>gets a set of data items from the server given a set of keys</documentation>
  <input message="tns:GetData"/>
  <output message="tns:GetDataResponse"/>
 </operation>
</portType>

<binding name="ssl" type="tns:sslPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="upload-message">
  <SOAP:operation style="rpc"/>
  <input>
     <SOAP:body use="encoded" namespace="urn:ssl" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:ssl" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
  </output>
 </operation>
 <operation name="PutData">
  <SOAP:operation style="rpc"/>
  <input>
   <MIME:multipartRelated>
    <MIME:part>
     <SOAP:body use="encoded" namespace="urn:ssl" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
    </MIME:part>
    <MIME:part>
     <MIME:content part="attachments" type="*/*"/>
    </MIME:part>
   </MIME:multipartRelated>
  </input>
  <output>
   <MIME:multipartRelated>
    <MIME:part>
     <SOAP:body use="encoded" namespace="urn:ssl" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
    </MIME:part>
    <MIME:part>
     <MIME:content part="attachments" type="*/*"/>
    </MIME:part>
   </MIME:multipartRelated>
  </output>
 </operation>
 <operation name="GetData">
  <SOAP:operation style="rpc"/>
  <input>
   <MIME:multipartRelated>
    <MIME:part>
     <SOAP:body use="encoded" namespace="urn:ssl" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
    </MIME:part>
    <MIME:part>
     <MIME:content part="attachments" type="*/*"/>
    </MIME:part>
   </MIME:multipartRelated>
  </input>
  <output>
   <MIME:multipartRelated>
    <MIME:part>
     <SOAP:body use="encoded" namespace="urn:ssl" encodingStyle="http://www.w3.org/2003/05/soap-encoding"/>
    </MIME:part>
    <MIME:part>
     <MIME:content part="attachments" type="*/*"/>
    </MIME:part>
   </MIME:multipartRelated>
  </output>
 </operation>
</binding>

<service name="ssl">
 <documentation>gSOAP 2.8.14 generated service definition</documentation>
 <port name="ssl" binding="tns:ssl">
  <SOAP:address location="https://127.0.0.1:8000"/>
 </port>
</service>

</definitions>
